TP Final - Lppa/Connected Services/ServiceReference1/FiltradoCompras.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCompras">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fechaInicio" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaFin" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="comprador" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idProducto" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComprasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetComprasResult" type="tns:ArrayOfCompras" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCompras">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Compras" nillable="true" type="tns:Compras" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Compras">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaCompra" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:User" />
          <s:element minOccurs="0" maxOccurs="1" name="Productos" type="tns:Productos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="userType" type="tns:UserType" />
          <s:element minOccurs="0" maxOccurs="1" name="dvh" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="UserType">
        <s:restriction base="s:string">
          <s:enumeration value="admin" />
          <s:enumeration value="webmaster" />
          <s:enumeration value="user" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Productos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Producto" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetComprasSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompras" />
  </wsdl:message>
  <wsdl:message name="GetComprasSoapOut">
    <wsdl:part name="parameters" element="tns:GetComprasResponse" />
  </wsdl:message>
  <wsdl:portType name="FiltradoComprasSoap">
    <wsdl:operation name="GetCompras">
      <wsdl:input message="tns:GetComprasSoapIn" />
      <wsdl:output message="tns:GetComprasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FiltradoComprasSoap" type="tns:FiltradoComprasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCompras">
      <soap:operation soapAction="http://tempuri.org/GetCompras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FiltradoComprasSoap12" type="tns:FiltradoComprasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCompras">
      <soap12:operation soapAction="http://tempuri.org/GetCompras" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FiltradoCompras">
    <wsdl:port name="FiltradoComprasSoap" binding="tns:FiltradoComprasSoap">
      <soap:address location="https://localhost:44348/FiltradoCompras.asmx" />
    </wsdl:port>
    <wsdl:port name="FiltradoComprasSoap12" binding="tns:FiltradoComprasSoap12">
      <soap12:address location="https://localhost:44348/FiltradoCompras.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>